# Ignore configuration and hidden directories
.config/
.git/
.github/
.ruff_cache/
.vscode/
docker/.data
docker/.env.da-verifier
docker/configs/da-verifier-staging-v2.toml

# Ignore build artifacts and cache
target/
target/*
**/target/

# Ignore test-related files and directories
test/
functional-tests/
**/_dd/

# Ignore cache, temporary, and virtual environment files
*.log
*.tmp
*.swp
*.pyc
*.pyo
*.pyd
**/*.snapshot

# Additional files

.idea/
.DS_Store

# docs
docs/
doc/
